# Outputs
src/**/*.js
src/**/*.js.map
src/**/*.d.ts
!src/ng-universal-k8s/files/config.js
!src/ng-universal-k8s/files/webpack.server.config.js

# IDEs
.idea/
jsconfig.json
.vscode/
*.iml

# Misc
node_modules/
npm-debug.log*
yarn-error.log*

# Mac OSX Finder files.
**/.DS_Store
.DS_Store
